{% extends 'blog/base.html'%}
{% block title %}Blog {% endblock %}
{% block body %}
<div class="container mt-3" >
<div class="row mb-2 my-4">
{% for post in posts %}
    <div class="col-md-6">
    
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          
          <h4 class="mb-0">{{ post.title }}</h4>
          <div class="mb-1 text-muted">{{ post.date|date:'M d, Y' }}</div>
          <p class="card-text mb-auto">{{ post.content0|slice:'0:30' }}</p>
          <a href="/blog/blogpost/{{post.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
         <img src="/media/{{post.thumbnail}}" class="card-img-top" alt="..." height='250' width='200'>

        </div>
      </div>

    </div>
  {% endfor %}
    
  </div>
  </div>
{% endblock %}
  