{% extends 'shop/base.html' %}

{% block title %} Tracker{% endblock %}

{% block body %}
<div class="container">

    <div class="col my-4">
        <h5>WoodCart Tracker - Track your order</h5>
        <div>
            <form class="row g-3" method="post" action="#" id="trackOrder">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="name" class="form-label">Order Id</label>
                    <input type="text" class="form-control" id="orderId" name="orderId">
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Track Order</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col my-4">
        <h5>Your Order Status</h5>
        <div>
            <ol class="list-group list-group-numbered my-4" id="item">

            </ol>
        </div>

        <h5>Your Order Details</h5>
        <div>
            <ol class="list-group list-group-numbered my-4" id="citem">

            </ol>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $('#trackOrder').submit(function (event) {
        $('#item').empty();
        var formData = {
            'orderId': $('input[name=orderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        }

        $.ajax({
            type: 'POST',
            url: '/tracker',
            data: formData,
            encode: true
        })

            .done(function (data) {
                $('#citem').empty();
                data = JSON.parse(data);
                var updates = data['updates'];
              
                if (data['status'] == 'success') {

                //Fill order Details
                cart = JSON.parse(data['itemJson']);
                console.log(cart);
                     for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    str = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                       
                        ${name}
                    </div>
                    <span class="badge bg-primary rounded-pill">${qty}</span>
                </li>`
                    $('#citem').append(str);
                }

                //Fill the order status           
                    for (i = 0; i <= updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];

                        str = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                       
                        ${text}
                    </div>
                    <span class="badge bg-primary rounded-pill">${time}</span>
                </li>`
                        $('#item').append(str);
                    }
               
                }
                else {
                    str = `<li class="list-group-item d-flex justify-content-between align-items-start">
                  Sorry, We are not able to fetch this order id and email. Make sure to type correct order id and email.
                </li>`
                    $('#item').append(str);
                    $('#citem').append(str);
                }


            });

        event.preventDefault();
    });
</script>
{% endblock %}